body{
	margin:0;
	padding:0;
	background: #f2f2f2;
	font-family:"Microsoft YaHei" !important;
}

#tool{
	background:#fff;
	width:100%;
	height:39px;
	text-align:center;
	position:fixed;
	left:0;
	bottom: 0px;
	z-index: 11;
	vertical-align: center;
	border-top: 1px solid #e8e8e8;
}

#tool span{
	font-size: 16px;
}
.comment{  
	position:absolute;
	top:0;
	left:0;
	height: 40px;
	line-height: 40px;
	padding:0 10px 0 15px;
	border-radius:5px;
	color: #2072cf;
}
.inputwrap{
	width:100%;
	float:left;
	
}
.wrapint{
	margin: 0 85px 0 57px;
	height: 64px;
	line-height: 64px;
}

.send{
	position:absolute;
	top: 5px;
	right:0;
	height: 21px;
	line-height: 19px;
	padding:4.5px 14px 4.5px 14px;
	margin:0 15px 0 10px;
	background: #ccc;
	border-radius: 30px;
	color: white;
}

.sendavailable{
	background: #2072cf;
}

#tool input{
	display: block;
	width:100%;
	margin: 5px 0;
	height: 30px;
	padding: 0 0 0 10px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #d7d7d7;
	background: #f3f3f3;
	font-size: 13px;
	box-sizing: border-box;
	color: #999;
}

#tool input:focus{
	color: #222;
}

#content{
	margin: 0 0 40px 0;
	text-align:center;
}

.tips{
	display:block;
	border-radius: 8px;
	background: #e6e6e6;
	margin: 10px 15px 0;
	box-sizing: border-box;
	color: #999999;
	font-size: 13px;
	height: 30px;
	line-height:30px;
}

.csportrait{
	position: absolute;
	left: 10px;
	z-index: 10;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url('../img/kftx.png');
	border: 1px solid #e8e8e8;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	margin: 0;
	border-radius: 50%;
}

.answer{
	clear:both;
	overflow:hidden;
	margin:16px 0 0;
	color: #222;
	font-size:15px;
	padding: 0 15px 0 72px;
}
.answer span:nth-of-type(1){
	display: none;
	margin-bottom: 7px;
	color: #999;
	margin-left: -50px;
	line-height:1.3;
	font-size:13px;
}
.answer span:nth-of-type(3){
	float:left;
	position: relative;
	line-height: 1.3;
	max-width:100%;
	word-wrap:break-word;
	overflow: hidden;
	padding:10.5px 15px;
	text-align:left;
	border-radius: 8px;
	background: #fff;
	border:1px solid #e8e8e8;
	box-sizing: border-box;
}

.answer span:nth-of-type(2){
	position:absolute;
	left: 60px;
	z-index: 10;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-width: 6px;
	border-left-width: 6px;
	margin:15px 0;
	border-right: 7px solid #fff;
	
}
.question{
	clear:both;
	overflow:hidden;
	color: #fff;
	font-size:15px;
	margin:16px 0 0;
	padding: 0 22px 0 15px;
	
	
}
.question span:nth-of-type(1){
	position:relative;
	left:7px;
	display: none;
	margin-bottom: 7px;
	color: #999;
	line-height:1.3;
	font-size:13px;
}

.question span:nth-of-type(3){
	float:right;
	max-width:100%;
	line-height: 1.3;
	word-wrap:break-word;
	overflow: hidden;
	padding:10.5px 15px;
	text-align:left;
	border-radius: 8px;
	background: #2072cf;
	border:1px solid #e8e8e8;
	opacity: 0.6;
}

.question span:nth-of-type(2){
	position:absolute;
	right:10px;
	z-index: 10;
	float:right;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-width: 5px;
	border-bottom-width: 5px;
	border-right-width: 6px;
	border-left-width: 6px;
	margin:15px 0;
	border-left: 7px solid rgba(32, 114, 207, 0.6);
	
}



.mask{
	background:rgba(0,0,0,0.3);
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}


#popup{
	display:none;
	background:#fff;
	margin:0;
	padding:0;
	border:1px solid #e8e8e8;
	border-radius:5px;
	width:90%;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	z-index:1001;
	
}

.csimg{
	position: absolute;
	z-index: 1003;
	top: -25px;
	left: 50%;
	transform:translate(-50%,0);
	background: white;
	display:block;
	width: 50px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
	border-radius:50%;
	border-top: 1px solid #e8e8e8;
}

i{
	display:block;
	width: 40px;
	height: 40px;
	background:url("../img/img_cs@2x.png");
	background-size:40px 40px;
	margin-top: 5px;
	margin-left:auto;
	margin-right:auto;
	border-radius:50%;
	background-repeat:no-repeat;
}
#commentbtn{
	margin:40px 0 5px;
	font-size:0;
}

.btns{
	padding:0 15px;
}

.childcomet{
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 0;
	border-top:1px solid #e8e8e8;
}

.btns span{
	display:inline-block;
	color:#666;
	word-wrap:break-word;
	overflow:hidden;
	font-size:13px;
	border:1px solid #999;
	padding: 4px 15px;
	margin:0 15px 10px 0;
	border-radius: 15px;
	height:20px;
	line-height:20px;
	word-spacing:0;
}
.childcomet span{
	padding: 4px 10px;
	
}
#commentbtn span::before{
	content:'';
	background-size:15px 15px;
	background-repeat:no-repeat;
	display:inline-block;
	width: 15px;
	height: 15px;
	vertical-align:middle;
	margin:0 7px 0 0;
}
#wonderful::before{
	background:url("../img/icon_great_grey@2x.png");
}

#good::before{
	background:url("../img/icon_good_grey@2x.png");
}

#soso::before{
	background:url("../img/icon_soso_grey@2x.png");
}

#bad::before{
	background:url("../img/icon_bad_grey@2x.png");
}

#awful::before{
	background:url("../img/icon_awful_grey@2x.png");
}


.btns .checked   {
	background: rgba(32, 114, 207, 0.08);
	color: #2072cf;
	border-color: #2072cf;
}
#commentbtn #wonderful.checked::before{
	background-image:url("../img/icon_great_blue@2x.png");
}
#commentbtn #good.checked::before {
	background-image:url("../img/icon_good_blue@2x.png");
}
#commentbtn #soso.checked::before{
	background-image:url("../img/icon_soso_blue@2x.png");
}
#commentbtn #bad.checked::before{
	background-image:url("../img/icon_bad_blue@2x.png");
}
#commentbtn #awful.checked::before{
	background-image:url("../img/icon_awful_blue@2x.png");
}


.submitbtn {
	padding:9px 0;
	text-align: center;
	display:block;
	color:#999;
	font-size: 16px;
	border-top:1px solid #e8e8e8;
}
.submitavailable {
	color:#2072cf;
}


#passdetails{
	display:none;
}

#denydetails{
	display:none;
}

.tipstoast{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:1002;
	background:#000; 
	opacity: 0.75;
	color: white; 
	width:60%;
	text-align:center;
	font-size: 16px; 
	padding: 15px; 
	border-radius: 8px;
}





